<div class="av-full-wrapper silver">
	<div class="compensate-header"></div>
	<div class="av-section">
		<!-- Brand -->
		<div class="av-material-resume-corp">
			<div class="av-card">
			<div class="card-search-brands">
				<div class="av-photo">
					<img src="assets/img/brands/pizza-hut/logo.jpg" alt="">
				</div>
				<div class="av-content">
					<div class="av-content-top">
						<h1 class="av-brand-title">
							Pizza Hut
						</h1>
						<div class="av-brand-score">
							<i class="fa fa-star light"></i>
							<i class="fa fa-star light"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<span class="av-txt-score">(3.2)</span>
						</div>
						<div class="av-brand-social">
							<a href="http://facebook.com" target="_blank">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="http://twitter.com" target="_blank">
								<i class="fa fa-twitter"></i>
							</a>
							<a href="http://instagram.com" target="_blank">
								<i class="fa fa-instagram"></i>
							</a>
						</div>
						<div class="av-brand-category">
							<i class="fa fa fa-cutlery"></i>
							<span>Restaurantes</span>
						</div>
					</div>
					<div class="av-content-middle">
					<h1 class="contacto">Contacto</h1>
						<div class="av-brand-contact">
							<span class="av-ico-o">
								<span class="yellow">
									<i class="fa fa-phone"></i>
								</span>
							</span>
							<span class="av-contact-txt">846 4567 - 312 435 9846</span>
						</div>
						<div class="av-brand-contact">
							<span class="av-ico-o">
								<span class="yellow">
									<i class="fa fa-building"></i>
								</span>
							</span>
							<span class="av-contact-txt">Cll 19 14-08 - Chía, Colombia</span>
						</div>
						<div class="av-brand-contact">
							<span class="av-ico-o">
								<span class="yellow">
									<i class="fa fa-envelope"></i>
								</span>
							</span>
							<span class="av-contact-txt">contacto@pizzahut.com</span>
						</div>
						<div class="av-add-directory">
							<a>
								<i class="fa fa-heart"></i>
								<span>Agregar a mi Directorio</span>
							</a>
						</div>
					</div>
				</div>

			</div>


			<div class="basic-content">
				<hr>
				<h1>Razón Social</h1>
				<p >
					Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación
				</p>
				<br>
				<h1>Servicios</h1>
				<p>
					Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación
				</p>
			</div>



			</div>
		</div>
		<!-- /Brand -->
	</div>
</div>