<div class="av-full-wrapper pink-orange">
	<div class="compensate-header"></div>
	<div class="av-section" ng-show="Enviada == 0">
		<h1 class="title">Cambio de contraseña</h1>

		<form ng-submit="updPassword()">

		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">

				<div class="row">
					<div class="col-xs-12 col-sm-12">
						<div class="av-form-wrapper white">

							<h1>Ingresa tu nueva contraseña</h1>

							<div class="row form-group">
								<div class="col-xs-12">
									<md-input-container class="md-block" flex-gt-sm>
									 <label>Nueva Contraseña</label>
									 <input type="password" ng-required="true" ng-model="passOne">
								 </md-input-container>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-xs-12">
									<md-input-container class="md-block" flex-gt-sm>
									 <label>Repite la Contraseña</label>
									 <input type="password" ng-required="true" ng-model="PassTwo">
								 </md-input-container>
								</div>
							</div>

							<div ng-if="error" class="alert alert-danger" role="alert" >{{error}}</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 text-center">
				<button type="submit" class="av-btn-defaul btn-this" title="Cambiar Contraseña">
					CAMBIAR CONTRASEÑA
				</button>
			</div>
		</div>

		</form>
	</div>

	<div class="av-section" ng-show="Enviada == 1">

		<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1">
				<div class="av-form-wrapper white text-center">
					<h1>Contraseña Modificada</h1>
					<p>Tu contraseña se ha modificado correctamente, por favor intenta ingresar con tus nuevos datos</p>
				</div>
			</div>
		</div>

	</div>

</div>