<div class="av-full-wrapper aqua-green">
	<div class="compensate-header"></div>
	<div class="av-section">
		<h1 class="title">Seleccione el Modo de Pago</h1>

		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">

				<div class="row">
					<div class="col-sm-12">
						<div class="av-form-wrapper white">
							<h1 style="line-height:0;">Plan</h1>
							<h2>
								PREMIUM <strong>$98.000</strong>
								<small>Mensual</small>
							</h2>

							<h1>El plan Incluye:</h1>

							<p>
								Razón Social, Logo, Información detallada Productos y Servicios, Contáctenos, Galería hasta de 20 Fotos, Ubicación en Google Maps, Botón de llamada, espacio para comentarios de los usuarios.
							</p>

							<hr>

							<h4>Pagar con:</h4>

							<div class="row">
								<div class="col-xs-12 col-sm-6">
									<div class="col-sm-12 text-center">
										<a href="http://payu.com.co/" target="_blank" class="av-btn-defaul btn-this"
										data-toggle="tooltip" data-placement="top" title="Pagar con Tarjeta de Crédito o Débito">Tarjeta de Crédito o Débito</a>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6">
									<div class="col-sm-12 text-center">
										<a href="" class="av-btn-defaul btn-this"
										data-toggle="tooltip" data-placement="top" title="Paga en puntos de Pago con un código">Puntos de Pago o Consignación</a>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="row">


		</div>
	</div>
</div>