<div class="av-full-wrapper silver">
	<div class="compensate-header"></div>
	<div class="av-section" ng-show="Enviada == 0">
		<h1 class="title">Contáctanos</h1>

		<form ng-submit="enviarContacto()">

		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">

				<div class="row">
					<div class="col-xs-12 col-sm-12">
						<div class="av-form-wrapper white">

							<h1>Formulario de Contácto</h1>

							<div class="row form-group">
								<div class="col-xs-12 col-sm-6">
									<md-input-container class="md-block" flex-gt-sm>
									 <label>Nombres</label>
									 <input type="text" ng-required="true" ng-model="Nombres">
								 </md-input-container>
								</div>
								<div class="col-xs-12 col-sm-6">
									<md-input-container class="md-block" flex-gt-sm>
									 <label>Apellidos</label>
									 <input type="text" ng-required="true" ng-model="Apellidos">
								 </md-input-container>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-xs-12 col-sm-4">
									<md-input-container class="md-block" flex-gt-xs>
										<label>Tipo Identificación(*)</label>
										<md-select ng-model="tipoId">
											<md-option value="C.C.">C.C.</md-option>
											<md-option value="C.E.">C.E.</md-option>
										</md-select>
									</md-input-container>
								</div>
								<div class="col-xs-12 col-sm-8">
									<md-input-container class="md-block" flex-gt-sm>
									 <label>No. de Identificación</label>
									 <input type="text" ng-model="NoId">
								 </md-input-container>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-xs-12 col-sm-6">
									<md-input-container class="md-block" flex-gt-sm>
									 <label>Teléfono o número de Celular</label>
									 <input type="text" ng-required="true" ng-model="Telefono">
								 </md-input-container>
								</div>
								<div class="col-xs-12 col-sm-6">
									<md-input-container class="md-block" flex-gt-sm>
									 <label>Email</label>
									 <input type="text" ng-required="true" ng-model="Email">
								 </md-input-container>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-xs-12 col-sm-6">
									<md-input-container class="md-block" flex-gt-sm>
									 <label>Direción</label>
									 <input type="text"  ng-model="Direcion">
								 </md-input-container>
								</div>
								<div class="col-xs-12 col-sm-6">
									<md-input-container class="md-block" flex-gt-sm>
									 <label>Ciudad</label>
									 <input type="text"  ng-model="Ciudad">
								 </md-input-container>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-xs-12 col-sm-12">
									<md-input-container class="md-block">
										<label>Descripcion</label>
										<textarea ng-model="descripcion" md-maxlength="350" rows="5" md-select-on-focus ng-required="true"></textarea>
									</md-input-container>
								</div>
							</div>
							<div ng-if="Error" class="alert alert-danger" role="alert" >{{Error}}</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12 text-center politics">
				<input type="checkbox" name="politicas"  title="Aceptar Políticas de Privacidad"  ng-model="Politicas">
				<a href="politicas">acepto políticas de privacidad</a>
			</div>
			<div class="col-xs-12 col-sm-12 text-center">
				<button type="submit" class="av-btn-defaul btn-this" title="Enviar Cotización">
					ENVIAR
				</button>
			</div>
		</div>

		</form>
	</div>

	<div class="av-section" ng-show="Enviada == 1">

		<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1">
				<div class="av-form-wrapper white text-center">
					<h1>Formulario Enviado</h1>
					<p>Muchas Gracias por contactárte con nosotros, muy pronto nos comunicaremos contigo :)</p>
				</div>
			</div>
		</div>

	</div></div>