<div class="av-full-wrapper blue-aqua">
	<div class="compensate-header"></div>
	<div class="av-section">
		<h1 class="title">Pauta con Nosotros</h1>

		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<div class="av-plan-wrapper basic">
					<div class="plan-header">
						<img src="assets/img/basic-plan.png">
					</div>
					<div class="plan-body">
						<h1>CHEAP</h1>
						<p>
							Razón Social, Logo, Información de Servicios y Contácto.
						</p>
					</div>
					<div class="plan-footer">
						<a href="#/basic_demo" class="demo">
							<i class="fa fa-eye"></i>
							Ver Demo
						</a>
						<a href="#/registrar_empresa" class="buy-plan">
							COMPRAR
						</a>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="av-plan-wrapper premium">
					<div class="plan-header">
						<img src="assets/img/premium-plan.png">
					</div>
					<div class="plan-body">
						<h1>PLATINIUM</h1>
						<p>
							Razón Social, Logo, Información detallada Productos y Servicios, Contáctenos, Galería hasta de 20 Fotos, Ubicación en Google Maps, espacio para comentarios de los usuarios.
						</p>
					</div>
					<div class="plan-footer">
						<a href="#/premium_demo" class="demo">
							<i class="fa fa-eye"></i>
							Ver Demo
						</a>
						<a href="#/registrar_empresa" class="buy-plan">
							COMPRAR
						</a>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-4">
				<div class="av-plan-wrapper gold">
					<div class="plan-header">
						<img src="assets/img/gold-plan.png">
					</div>
					<div class="plan-body">
						<h1>DELUXE</h1>
						<p>
							Razón Social / Comercial, Logo, Información detallada Productos y Servicios, Contáctenos, Galería hasta de 20 Fotos, Ubicación en Google Maps, Video, Formulario de contácto directo, espacio para comentarios de los usuarios.
						</p>
					</div>
					<div class="plan-footer">
						<a href="#/gold_demo" class="demo">
							<i class="fa fa-eye"></i>
							Ver Demo
						</a>
						<a href="#/registrar_empresa" class="buy-plan">
							COMPRAR
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="av-full-wrapper blue-aqua-dark">
	<div class="av-section">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-sm-offset-4">
				<div class="av-plan-wrapper cortesia">
					<div class="bubble-blue">
						<h2>Prueba</h2>
						<h1>GRATIS</h1>
					</div>
					<div class="bubble-green">
						<div class="one">Por</div>
						<div class="number">1</div>
						<div class="two">MESE</div>
					</div>
					<div class="plan-header">
						<img src="assets/img/cortesia.png">
					</div>
					<div class="plan-body">
						<h1>PRUEBA GRATIS</h1>
						<p>
							Razón Social, Logo, Información detallada Productos y Servicios, Contáctenos, Galería hasta de 20 Fotos, Ubicación en Google Maps, espacio para comentarios de los usuarios.
						</p>
					</div>
					<div class="plan-footer">
						<a href="#/basic_demo" class="demo">
							<i class="fa fa-eye"></i>
							Ver Demo
						</a>
						<a href="#/registrar_empresa" class="buy-plan">
							COMPRAR
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>