<div class="plan-map-wrapper">

	<div id="map" map class="av-map-microsite"></div>
	<div class="contacto-microsite">
		<div class="av-section">
			<div class="card-microsite-contact">
				<h1 class="contacto">Contacto</h1>
				<div class="content">
					<div class="av-brand-contact">
						<span class="av-ico-o">
							<span class="yellow">
								<i class="fa fa-phone"></i>
							</span>
						</span>
						<span class="av-contact-txt">846 4567 - 312 435 9846</span>
					</div>
					<div class="av-brand-contact">
						<span class="av-ico-o">
							<span class="yellow">
								<i class="fa fa-building"></i>
							</span>
						</span>
						<span class="av-contact-txt">Cll 19 14-08 - Chía, Colombia</span>
					</div>
					<div class="av-brand-contact">
						<span class="av-ico-o">
							<span class="yellow">
								<i class="fa fa-envelope"></i>
							</span>
						</span>
						<span class="av-contact-txt">contacto@pizzahut.com</span>
					</div>
				</div>
			</div>

		</div>
	</div>

</div>


<div class="av-full-wrapper silver" style="padding:0;">
	<div class="av-section">
		<!-- Brand -->
		<div class="av-material-resume-corp">
			<div class="av-card">
			<div class="card-search-brands">
				<div class="av-photo">
					<img src="assets/img/brands/pizza-hut/logo.jpg" alt="">
				</div>
				<div class="av-content">
					<div class="av-content-top">
						<h1 class="av-brand-title">
							Pizza Hut
						</h1>
						<div class="av-brand-score">
							<i class="fa fa-star light"></i>
							<i class="fa fa-star light"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<span class="av-txt-score">(3.2)</span>
						</div>
						<div class="av-brand-social">
							<a href="http://google.com" target="_blank">
								<i class="fa fa-facebook"></i>
							</a>
							<a href="http://google.com" target="_blank">
								<i class="fa fa-twitter"></i>
							</a>
							<a href="http://google.com" target="_blank">
								<i class="fa fa-instagram"></i>
							</a>
						</div>
						<div class="av-brand-category">
							<i class="fa fa fa-cutlery"></i>
							<span>Restaurantes</span>

							<!--div class="btn-free-call">
								<a href="" class="av-button-default av-inline"
								data-toggle="tooltip" data-placement="bottom" title="Llama Gratis a esta E	mpresa">
									Llamar Gratis
								</a>
							</div-->


						</div>
					</div>
					<div class="av-content-middle">
						<div class="basic-content">
							<h1>Productos y Servicios</h1>
							<p>
								Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación.
							</p>
						</div>

						<div class="av-add-directory detail">
							<a href="">
								<i class="fa fa-heart"></i>
								<span>Agregar a mi Directorio</span>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="basic-content">
				<hr>
				<div data-example-id="togglable-tabs">

				  <!-- Nav tabs -->
				  <ul id="tabs" class="nav nav-tabs" role="tablist" tabs>
				    <li role="presentation" class="active"><a href="#galeria" aria-controls="galeria" role="tab" data-toggle="tab">Galeria</a></li>
				    <li role="presentation"><a href="#comentarios" aria-controls="comentarios" role="tab" data-toggle="tab">Comentarios</a></li>
				  </ul>

				  <!-- Tab panes -->
				  <div class="tab-content">
				    <div role="tabpanel" class="tab-pane active" id="galeria">

						<div class="gallery">
							<div class="image">
								<a href="assets/img/paginas_web.png" class="big"><img src="assets/img/paginas_web.png" alt="" title="Beautiful Image" /></a>
							</div>
							<div class="image">
								<a href="assets/img/paginas_web.png" class="big"><img src="assets/img/paginas_web.png" alt="" title="Beautiful Image" /></a>
							</div>
							<div class="image">
								<a href="assets/img/paginas_web.png" class="big"><img src="assets/img/paginas_web.png" alt="" title="Beautiful Image" /></a>
							</div>
							<div class="image">
								<a href="assets/img/paginas_web.png" class="big"><img src="assets/img/paginas_web.png" alt="" title="Beautiful Image" /></a>
							</div>
							<div class="image">
								<a href="assets/img/paginas_web.png" class="big"><img src="assets/img/paginas_web.png" alt="" title="Beautiful Image" /></a>
							</div>
							<div class="image">
								<a href="assets/img/paginas_web.png" class="big"><img src="assets/img/paginas_web.png" alt="" title="Beautiful Image" /></a>
							</div>
							<div class="image">
								<a href="assets/img/paginas_web.png" class="big"><img src="assets/img/paginas_web.png" alt="" title="Beautiful Image" /></a>
							</div>
							<div class="image">
								<a href="assets/img/paginas_web.png" class="big"><img src="assets/img/paginas_web.png" alt="" title="Beautiful Image" /></a>
							</div>
							<div class="image">
								<a href="assets/img/paginas_web.png" class="big"><img src="assets/img/paginas_web.png" alt="" title="Beautiful Image" /></a>
							</div>
							<div class="image">
								<a href="assets/img/paginas_web.png" class="big"><img src="assets/img/paginas_web.png" alt="" title="Beautiful Image" /></a>
							</div>
							<div class="image">
								<a href="assets/img/paginas_web.png" class="big"><img src="assets/img/paginas_web.png" alt="" title="Beautiful Image" /></a>
							</div>
							<div class="image">
								<a href="assets/img/paginas_web.png" class="big"><img src="assets/img/paginas_web.png" alt="" title="Beautiful Image" /></a>
							</div>
							<div class="image">
								<a href="assets/img/paginas_web.png" class="big"><img src="assets/img/paginas_web.png" alt="" title="Beautiful Image" /></a>
							</div>
							<div class="image">
								<a href="assets/img/paginas_web.png" class="big"><img src="assets/img/paginas_web.png" alt="" title="Beautiful Image" /></a>
							</div>
							<div class="image">
								<a href="assets/img/paginas_web.png" class="big"><img src="assets/img/paginas_web.png" alt="" title="Beautiful Image" /></a>
							</div>
							<div class="image">
								<a href="assets/img/paginas_web.png" class="big"><img src="assets/img/paginas_web.png" alt="" title="Beautiful Image" /></a>
							</div>
							<div class="image">
								<a href="assets/img/paginas_web.png" class="big"><img src="assets/img/paginas_web.png" alt="" title="Beautiful Image" /></a>
							</div>
							<div class="image">
								<a href="assets/img/paginas_web.png" class="big"><img src="assets/img/paginas_web.png" alt="" title="Beautiful Image" /></a>
							</div>
							<div class="image">
								<a href="assets/img/paginas_web.png" class="big"><img src="assets/img/paginas_web.png" alt="" title="Beautiful Image" /></a>
							</div>
							<div class="image">
								<a href="assets/img/paginas_web.png" class="big"><img src="assets/img/paginas_web.png" alt="" title="Beautiful Image" /></a>
							</div>
						</div>

				    </div>
				    <div role="tabpanel" class="tab-pane" id="comentarios">
				    	<div class="comments">
				    		<h1>Comentarios</h1>
				    		<form action="">
				    			<div class="row">
				    				<div class="col-sm-12">
				    					<textarea class="form-control" placeholder="Escribe un comentario..."></textarea>

				    					<div class="text-right">
				    						<input type="submit" class="av-btn-defaul btn-this" value="COMENTAR">
				    					</div>

				    					<hr>


				    					<div class="comment">
				    						<div class="row">
				    							<div class="col-sm-1">
				    								<div class="av-avatar">
														<img src="assets/img/avatar/avatar.png" alt="">
													</div>
				    							</div>
				    							<div class="col-sm-11">
				    								<h3>Alex Esteban</h3>
				    								<span class="date">Septiembre 20 de 2015, a las 2:45 p.m.</span>
				    								<p>
				    									Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación, Textp de colocación
				    								</p>
				    							</div>
				    						</div>
				    					</div>

				    				</div>
				    			</div>
				    		</form>
				    	</div>
				    </div>
				  </div>

				</div>
			</div>




			</div>
		</div>
		<!-- /Brand -->
	</div>
</div>