<div class="av-full-wrapper pink-orange ng-scope">
	<div class="compensate-header"></div>
	<div class="av-section">
		<h1 class="title">Transacción Finalizada</h1>

		<div class="row">
			<div class="col-xs-12 col-sm-10 col-sm-offset-1">

				<div class="row">
					<div class="col-xs-12 col-sm-12">
						<div class="av-form-wrapper white">

							<p>
								Gracias por pautar con nosotros, en máximo 24 Horas tu empresa estará activa; Estos son los detalles de la transacción:
							</p>

							<table class="table">
								<tr>
									<td>Estado de la transacción</td>
									<td>{{lapTransactionState}}</td>
								</tr>
								<tr>
									<td>Código de Referencia</td>
									<td>{{referenceCode}}</td>
								</tr>
								<tr>
									<td>Id de la transacción</td>
									<td>{{transactionId}}</td>
								</tr>
								<tr>
									<td>Medio de Pago</td>
									<td>{{lapPaymentMethod}}</td>
								</tr>
								<tr>
									<td>Tipo de Pago</td>
									<td>{{lapPaymentMethodType}}</td>
								</tr>
								<tr>
									<td>Total</td>
									<td>{{TX_VALUE}}</td>
								</tr>
								<tr>
									<td>Email del Comprador</td>
									<td>{{buyerEmail}}</td>
								</tr>
								<tr>
									<td>Fecha de compra</td>
									<td>{{processingDate}}</td>
								</tr>
							</table>



						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
</div>