
/*----slider----*/
#slider2,
#slider3 {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  margin: 0 auto;
}
.rslides_tabs {
  list-style: none;
  padding: 0;
  background: rgba(0,0,0,.25);
  box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -moz-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.3), inset 0 0 5px rgba(0,0,0,1.0);
  font-size: 18px;
  list-style: none;
  margin: 0 auto 50px;
  max-width: 540px;
  padding: 10px 0;
  width: 100%;
}
.rslides_tabs li {
  display: inline;
  float: none;
  margin-right: 1px;

}
.rslides_tabs a {
  width: auto;
  line-height: 20px;
  padding: 9px 20px;
  height: auto;
  background: transparent;
  display: inline;
}
.rslides_tabs li:first-child {
  margin-left: 0;

}
.rslides_tabs .rslides_here a {
  background: rgba(255,255,255,.1);
  color: #fff;
  font-weight: bold;
}
.events {
  list-style: none;
}
.callbacks_container {
  position: relative;
  float: left;
  width: 100%;
  overflow: hidden;
}
.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: auto;
  
}
.callbacks img {
  position: relative;
  z-index: 1;
  height: auto;
  border: 0;
  width: 100%;

}
.callbacks .caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 20px;
	text-shadow: none;
	color: #fff;
	left: 17%;
	right: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
	top: 45%;
}
.callbacks_nav {
  	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	bottom: 70px;
	z-index: 3;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 42px;
	width: 45px;
	background: transparent url("../img/themes.png") no-repeat left top;

}
.callbacks_nav:active {
  opacity: 1.0;
}
.callbacks_nav.next {
 	left: auto;
	background-position: right top;
	right: 0em;
}
#slider3-pager a {
  display: inline-block;
}
#slider3-pager span{
  float: left;
}
#slider3-pager span{
	width:100px;
	height:15px;
	background:#fff;
	display:inline-block;
	border-radius:30em;
	opacity:0.6;
}
#slider3-pager .rslides_here a {
  background: #FFF;
  border-radius:30em;
  opacity:1;
}
#slider3-pager a {
  padding: 0;
}
#slider3-pager li{
	display:inline-block;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  height: auto;
}
.rslides li {
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0px;  
  height: auto;
  margin:0px;
  padding: 0px; 
}
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  height: auto;
  border: 0;
}
.callbacks_tabs{
	display:block;
  position: absolute;
  bottom:0px;
  z-index: 99999999;
  left: 0px;
  width: 100%;
  text-align: center;
  padding: 0px;
  margin-bottom: 10px;
}
.callbacks_tabs li{
	display:inline-block;
}
@media screen and (max-width: 600px) {
  h1 {
    font: 24px/50px "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
  .callbacks_nav {
    top: 350px;
    }
}
/*----*/
.callbacks_tabs a{
 visibility: hidden;
}
.callbacks_tabs a:after {
  content: "•";
  font-size:0;
  visibility: visible;
  display: block;
  height:12px;
  width:12px;
  display:inline-block;
  background: #fff;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
}
.callbacks_here a:after{
	background: #27aee4;
}
.slide-text-info h1{
	font-size: 1.5em;
	font-weight: 700;
	text-transform: uppercase;
	background: #252524;
	padding: 0.8em 0.5em;
	width:28%;
	margin: 0.4em 0 0.1em;
}
/*----*/
.slide-text-info span{
	background: rgba(10, 42, 63, 0.7);
	color: #FFF;
	font-weight: 100;
	padding: 0.2em 1em;
	margin: 0.2em auto;
	font-size: 0.8125em;
	display: inline-block;
	text-align:  center;
	width: auto;
	font-size: 22px;
}

.slide-text-info #clientes{
  position: absolute;
  right: 0px;
  top: -5em;
}

.slide-text-info label{
	background: #2A2928;
	color: #FFF;
	text-transform: uppercase;
	font-weight: 100;
	padding: 0.5em 1em;
	margin:0;
	font-size:1.2em;
}
/*----//slider----*/
