<!-- Side Bar -->
    <a class="menu-toggler" id="menu-toggler" href="" ng-click="toggle()">
      <span class="menu-text"></span>
    </a>
    <div id="sidebar" class="sidebar">
      <ul class="nav nav-list list-group">.
        <li>
          <a href="#/empresas">
            <i class="fa fa-briefcase fa-fw fa-lg"></i>
            <span class="menu-text">Empresas</span>
          </a>
        </li>
        <li>
          <a href="#/banners">
            <i class="fa fa-desktop fa-fw fa-lg"></i>
            <span class="menu-text">Banners</span>
          </a>
        </li>
        <li>
          <a href="#/blogs">
            <i class="fa fa-book fa-fw fa-lg"></i>
            <span class="menu-text">Blogs</span>
          </a>
        </li>
        <li>
          <a href="#/categorias">
            <i class="fa fa-list fa-fw fa-lg"></i>
            <span class="menu-text">Categorias</span>
          </a>
        </li>
        <li>
          <a href="#/tags">
            <i class="fa fa-tags fa-fw fa-lg"></i>
            <span class="menu-text">Tags</span>
          </a>
        </li>
        <li>
          <a href="#/suscriptores">
            <i class="fa fa-envelope fa-fw fa-lg"></i>
            <span class="menu-text">Suscriptores</span>
          </a>
        </li>
        <li>
          <a href="#/info">
            <i class="fa fa-folder-open fa-fw fa-lg"></i>
            <span class="menu-text">Información</span>
          </a>
        </li>
        <li>
          <a href="#/pagos">
            <i class="fa fa-credit-card fa-fw fa-lg"></i>
            <span class="menu-text">Pagos</span>
          </a>
        </li>
        <li>
          <a href="#/usuarios">
            <i class="ace-icon fa fa-user fa-fw fa-lg"></i>
            <span class="menu-text">Usuarios</span>
          </a>
        </li>
        <li>
          <a href="" ng-click="logout()">
            <i class="ace-icon fa fa-power-off fa-fw fa-lg"></i>
            <span class="menu-text">Salir</span>
          </a>
        </li>
      </ul>
    </div>

<!-- End Side Bar -->
